body{
  width: 1440px;
  margin: 0 auto;


app-header {
  padding: 2vh 0;
  .header-container
  {
  display: flex;
  height: 8vh;
  padding: 2vh 0;
  background-color:black;
  justify-content: space-around;
  align-items: center;}
}

 .material-icons {
   color: white;
 }

 .button {
   background-color: rgba(47, 128, 237, 1);
 }


}
